.app-title {
    display: flex;

    font-size: 50px;
    color: rgb(125, 155, 170)
}

.app-header a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}
.app-header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(63, 63, 63);
    height: 100px;
    color: whitesmoke;
    font-family: lato, sans-serif;
    width: 100%;
}


